.form__input-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0;
}

@media screen and (max-width: 400px) {
  .form__input-item-textarea {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .form__input-item-textarea > label {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 400px) {
  .form__input-item-textarea > div > textarea {
    width: calc(100% + 100px) !important;
  }
}

.form__input-label {
  width: 140px;
}

@media screen and (max-width: 500px) {
  .form__input-label {
    width: 100px;
  }
}

.form__input-container {
  width: calc(100% - 140px);
}

@media screen and (max-width: 500px) {
  .form__input-container {
    width: calc(100% - 100px);
  }
}

.form__input {
  width: 100%;
  line-height: normal;
  padding: 0 5px 5px 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
}

.form__input-textarea {
  height: 200px;
  resize: none;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.form__input-textarea:focus {
  border: 1px solid #647065;
}

.form__input::placeholder {
  color: rgb(163, 163, 163);
}

.form__input:focus {
  border-bottom: 1px solid #647065;
  outline: none;
}

.form__input-error {
  border-bottom: 1px solid rgb(200, 0, 0);
  color: rgb(200, 0, 0);
}

.form__input-error-textarea {
  border: 1px solid rgb(200, 0, 0);
}

.form__span-container {
  display: flex;
  flex-direction: column;
}

.form__span-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: rgb(163, 163, 163);
}

.form__error {
  color: rgb(200, 0, 0);
}
