.popup__carousel {
  padding: 0;
}

.popup__carousel-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.popup__carousel-image {
  max-width: 70vw;
  max-height: 82vh;
  object-fit: contain;
  margin: 0 0 20px 0;
}

.popup__carousel-image-caption {
  text-align: center;
}
/* 
.swiper-wrapper {
  height: fit-content;
}

.swiper-slide {
  height: fit-content;
}

.swiper-slide-next{
    height: fit-content;
}

.swiper-slide-prev{
    height: fit-content;
} */