.popup__carousel {
  padding: 0;
  width: 90vw;
  height: 90vh;
}

.popup__carousel-slide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.popup__carousel-slide-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  margin: 0;
  background-color: black;
}

.popup__carousel-image {
  margin: 0 auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.popup__carousel-image-caption-container {
  width: fit-content;
}

.popup__carousel-image-caption {
  padding: 20px;
}
