.logo {
  padding: 0;
  margin: 0;
}

.logo__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
  opacity: 0.85;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .logo__img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 500px) {
  .logo__img {
    width: 70px;
    height: 70px;
  }
}
