.logo {
  padding: 0;
  margin: 0;
}

.logo__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
  opacity: 0.85;
  padding: 0;
  margin: 0;
}
