.header {
  position: sticky;
  top: 0;
  background-color: rgba(229, 229, 229, 0.75);
  backdrop-filter: blur(12px);
  z-index: 1;
}

.header__container {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 8px 0;
}

.header__logo-and-phones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__phones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  height: 55px;
}

@media screen and (max-width: 900px) {
  .header__phones {
    padding: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .header__phones {
    padding: 0 5px;
    height: 35px;
  }
}

.header__phone {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .header__phone {
    font-size: 12px;
    line-height: 16px;
  }
}

.header__menu-btn {
  position: absolute;
  top: 37px;
  right: -12px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .header__menu-btn {
    top: 19px;
  }
}

@media screen and (max-width: 500px) {
  .header__menu-btn {
    top: 16px;
  }
}
