.header {
  position: sticky;
  top: 0;
  background-color: rgba(229 , 229, 229, 0.75);
  backdrop-filter: blur(12px);
  z-index: 2;
}

.header__container {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 8px 0;
}

.header__menu-btn {
  position: absolute;
  top: 37px;
  right: -12px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
