.page {
  background-color: #e5e5e5;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  max-width: 100%;
  min-width: 320px;
}

main {
  width: 100%;
}

/* Общие стили для переиспользуемых элементов  */

.link {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
}

.link:hover {
  opacity: 0.6;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.section__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 20px 0 20px 0;
  width: 1280px;
}
@media screen and (max-width: 1300px) {
  .section__container {
    width: 90%;
  }
}

.section__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #2e3d41;
  letter-spacing: 1.5px;
  width: 100%;
  margin: 0 0 40px 0;
  padding: 0;
}

@media screen and (max-width: 840px) {
  .section__title {
    font-size: 34px;
    line-height: 46px;
  }
}

@media screen and (max-width: 500px) {
  .section__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.section__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #2e3d41;
  letter-spacing: 0;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
}

.section__text:last-of-type {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .section__text {
    font-size: 15px;
    line-height: 18px;
  }
}

.card {
  scale: 1;
  filter: grayscale(100%);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

/* Нет курсора pointer на карточках с ценами */
.prices-complex__grid > .card {
  cursor: default;
}

.card:hover {
  scale: 1.01;
  filter: grayscale(0);
}

@media (pointer: coarse) {
  .card {
    filter: none;
  }
}

/* .button-link {

} */

.button {
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}

.button:hover {
  opacity: 0.6;
}

.button_styled {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  padding: 8px 20px;
  border: 2px solid #e1835b;
  border-radius: 8px;
  color: #e1835b;
}

@media (max-width: 500px) {
  .button_styled {
    padding: 5px 10px;
  }
}

@media (pointer: fine) {
  .button_styled {
    overflow: hidden;
    border: 2px solid #e1835b;
    border-radius: 8px;
    color: #e1835b;
    transition: 0.2s ease-in-out;
  }

  .button_styled:before {
    content: '';
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.5)
    );
    height: 60px;
    width: 60px;
    top: -3px;
    left: -91px;
    transform: skewX(-45deg);
  }

  .button_styled:hover {
    background: #e1835b;
    color: #fff;
    opacity: 1;
  }

  .button_styled:hover:before {
    left: 245px;
    transition: 0.5s ease-in-out;
  }
}

/* References */

.references {
  margin: 0 auto auto auto;
  height: 100%;
}

.feedback__container {
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .feedback__container {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .feedback__container {
    width: 90%;
  }
}

.feedback__site {
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  overflow: hidden;
}

.feedback__browser {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.feedback__tab-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #d6d8dd;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .feedback__tab-bar {
    padding: 0 10px;
  }
}

.feedback__dot-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 450px) {
  .feedback__dot-buttons {
    margin: 0 10px 0 0;
  }
}

.feedback__dot-button {
  background-color: rgb(182, 182, 182);
  border: 1px solid rgb(120, 120, 120);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 6px 0 0;
}

.feedback__dot-button:last-of-type {
  margin: 0;
}

.feedback__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: #fff;
  width: 200px;
  box-sizing: border-box;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  align-self: flex-end;
  padding: 0 15px;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 450px) {
  .feedback__tab {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .feedback__tab {
    width: 150px;
  }
}

.feedback__tab-vk-logo {
  background-image: url('./images/vk-logo-small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  margin: 0 5px 0 0;
}

.feadback__tab-name {
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: 0 !important;
}

.feadback__tab-close {
  color: rgb(120, 120, 120);
}

.feedback__text {
  width: fit-content;
  margin-bottom: 0;
  text-decoration: none;
}

.feedback__tab-plus {
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  color: rgb(120, 120, 120);
}

.feedback__tab-arrow {
  font-size: 11px;
  line-height: 12px;
  margin: 0 0 0 auto !important;
  color: rgb(120, 120, 120);
}

.feedback__search-query {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #fff;
  padding: 0 15px;
  box-sizing: border-box;
}

.feedback__navigate-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  margin: 0 30px 0 0;
}

@media screen and (max-width: 600px) {
  .feedback__navigate-buttons {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .feedback__navigate-buttons {
    margin: 0 10px 0 0;
  }
}

.feedback__navigate-buttons p {
  color: rgb(120, 120, 120);
}

.feedback__arrow-reboot {
  font-size: 30px;
  line-height: 30px;
  padding: 0 0 9px 0;
}

.feedback__query-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
  background-color: #eef0f4;
  border-radius: 15px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .feedback__query-input {
    padding: 5px 10px;
  }
}

.feedback__query {
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .feedback__query-text {
    font-size: 14px;
    line-height: 15px;
  }
}

.feedback_vk_fetching {
  display: none;
}

.feedback_vk {
  display: block;
}

#feedback_kupiapp {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .container_kupiapp {
    width: 95%;
  }
}

.comment_kupiapp {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 500px) {
  .comment_kupiapp {
    font-size: 15px;
    line-height: 18px;
  }
}
